<div id="conteneur">
	<div id="carrousel">
		<div id="slide1" class="slide">
			<div class="visu">
				<%= image_tag "slide1.jpg"%>
			</div>
			<div class="title">
				Ton oncle
			</div>
		</div>

	</div>
</div>